<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="https://vuejs.org/images/logo.png" />
    <title>Ice Cream Sundae</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>
    <div class="react" id="app">
      <!-- header start -->
      <header>
        <div class="container react" id="header">
          <div>
            <img class="logo" src="images/logo.svg" alt="Logo" />
          </div>
          <div class="textRight">
            <img src="https://vuejs.org/images/logo.png" alt="React" class="reactLogo" /><strong
              >Vue JS</strong
            >
          </div>
        </div>
      </header>
      <!-- header end -->

      <!-- body start -->
      <div class="mainBody react" id="body">
        <div class="container react" id="iceCreamBuilder">
          <!-- icecream start -->
          <ice-cream :cart="cart"></ice-cream> <!--Sent cart array by props-->
          <!-- ice cream end -->

          <!-- builder start -->
          <div class="react" id="builder">
            <div class="builder">
              <h3>Build your own Ice Cream <span class="count" :style="cart.length === 0 ? {color: 'red'} : {color: 'green'}">({{cart.length}})</span></h3>
              <!-- items start -->
              <div class="react" id="items">
                <ul>

                  <!-- item start -->
                  <li class="react item" :key="varient.id" v-for="varient in varients">
                    <span>{{ varient.name }}</span>
                    <!-- <span class="quantity">2</span> -->
                    <div class="right">
                      <button type="button" class="plus rounded" v-on:click="addToCart(varient.id)">+</button>
                      <button type="button" class="minus rounded" v-on:click="removeFromCart(varient.id)">-</button>
                    </div>
                  </li>
                  <!-- item end -->
                 
                </ul>
              </div>
              <!-- items end -->

              <!-- total price start -->
              <div class="total react" id="total">
                <div>Total Price</div>
                <div>{{ totalPrice }} Tk</div>
              </div>
              <!-- total price end -->
              <button type="button" class="order rounded" v-on:click="toggleModal">Proceed</button>
            </div>

            <!-- modal start -->
            <order-modal :cart="cart" :total="totalPrice" v-if="showModal" @toggle-order-form="toggleModal" @clear-cart-items="clearCart"></order-modal>
            <!-- modal end -->
          </div>
          <!-- builder end -->
        </div>
      </div>
      <!-- body end -->

      <!-- footer start -->
      <footer>
        <div class="container react" id="footer">
          <div>
            Copyright &copy;2020.
          </div>
          <div class="textRight">
            Built with <span class="red">&hearts;</span> by
            <a
              href="https://github.com/aminurislamarnob"
              target="_blank"
              >Aminur Islam</a
            >
          </div>
        </div>
      </footer>
      <!-- footer end -->
    </div>

    <script src="main.js"></script>
    <script src="components/iceCream.js"></script>
    <script src="components/orderModal.js"></script>
    <script>
      const mounted = app.mount('#app');
    </script>
  </body>
</html>
